{% extends "base.html" %}
{% block start %}
<style>
  .button-recipe {
    all: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 2em;
    border: 2px solid mediumspringgreen;
    border-radius: 8px;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms, background 300ms;
    user-select: none;
    margin: 0 10px;
    position: relative;
  }

  .button-recipe:hover {
    color: #fff;
    background-color: mediumspringgreen;
  }

  .button-recipe:active {
    border-color: teal;
    background-color: teal;
    color: white;
  }

  .button-recipe::after,
  .button-recipe::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: mediumspringgreen;
    opacity: 0.4;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
    z-index: 0;
  }

  .button-recipe::before {
    left: 0;
    transform: translateX(-8em);
  }

  .button-recipe::after {
    right: 0;
    transform: translateX(8em);
  }

  .button-recipe:hover::before {
    transform: translateX(-1em);
  }

  .button-recipe:hover::after {
    transform: translateX(1em);
  }

  .button-recipe span {
    position: relative;
    z-index: 1;
  }
</style>

<div class="container mt-5">
  <div class="text-center">
    <button class="button-recipe mt-3" onclick="toggleForm('form1')">
      <span>Add Recipe</span>
    </button>
    <button class="button-recipe mt-3" onclick="toggleForm('form2')">
      <span>Search Recipe</span>
    </button>
  </div>

  <div class="mt-4" id="formContainer">
    <div id="form1" class="mt-4" style="display: none;">
      <form method="post" enctype="multipart/form-data" class="col-6 mx-auto card p-3 shadow-lg mt-2">
        {% csrf_token %}
        <h2>Add Recipe</h2>
        <hr />
        <div class="mb-3">
          <label class="form-label">Recipe Name</label>
          <input name="receipe_name" required type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Recipe Description</label>
          <textarea name="receipe_description" required class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Recipe Image</label>
          <input name="receipe_image" type="file" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Add</button>
      </form>
    </div>

    <div id="form2" class="card col-md-6 mx-auto outline" style="display: none;">
      <form method="get" action="/receipes/">
        <div class="mb-3">
          <label class="form-label">Search Recipe</label>
          <input name="search" type="text" class="form-control" />
          <button type="submit" class="btn btn-primary mt-2">Search</button>
        </div>
      </form>
    </div>
  </div>

  {% if user.is_authenticated %}
  <h2 class="text mt-5"style="color:#003c3c;">Welcome, {{ user.username }}!</h2>
  <table class="table table-striped bg-light mt-4">
    <thead>
      <tr>
        <th>#</th>
        <th>Recipe Name</th>
        <th>Recipe Description</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for receipe in receipes %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ receipe.receipe_name }}</td>
        <td>{{ receipe.receipe_description }}</td>
        <td>
          <img src="/media/{{ receipe.receipe_image }}" style="height: 100px;" />
        </td>
        <td>
          {% if receipe.user == request.user %}
          <a href="/delete_receipe/{{ receipe.id }}/" class="btn btn-danger btn-sm">Delete</a>
          <a href="/update_receipe/{{ receipe.id }}/" class="btn btn-success btn-sm">Update</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <script>
    window.location.href = "/login/";
  </script>
  {% endif %}
</div>

<script>
  function toggleForm(formId) {
    const form1 = document.getElementById('form1');
    const form2 = document.getElementById('form2');

    if (document.getElementById(formId).style.display === 'block') {
      document.getElementById(formId).style.display = 'none';
    } else {
      form1.style.display = 'none';
      form2.style.display = 'none';
      document.getElementById(formId).style.display = 'block';
    }
  }
</script>
{% endblock %}
