{%extends "base.html"%}
{%block start%}
    <div class="container mt-5">
        <div class="container mx-auto outline shadow-lg px-3 py-2 " style="background-color:#e4bb96;">
            <h1>ongoing Social Media page page</h1>
            <hr>
            <h3>Linkedin Profile</h3>
            <a href="https://www.linkedin.com/in/me/">www.linkedin.com/in/sudip-pandit-100969261</a>
            <h3>github</h3>
            <a href="https://github.com/sudippandit969">https://github.com/sudippandit969</a>
        </div>
    </div>
{%endblock%}